.green-blocker {
  --color: #f2ffd8;
  --font-size: 24px;
  --background-primary: #000055;
  --background-dark: #000022;
  --background-hover: #0000a1;
  --line-height: calc(var(--font-size) * 1.3);

  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  text-transform: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    var(--background-dark) 0%,
    var(--background-primary) 100%
  );
  z-index: 2147483647;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color);
  opacity: 1;
  transition: opacity 0.5s;
  line-height: var(--line-height);

  &.green-blocker--hidden {
    opacity: 0;
  }

  .green-blocker_content {
    text-align: center;
  }

  .green-blocker_button {
    text-transform: none;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    background: transparent;
    color: inherit;
    border: 1px solid var(--color);
    padding: 8px 32px;
    font: inherit;
    font-weight: 100;
    cursor: pointer;
    border-radius: var(--line-height);
    text-align: center;
    text-decoration: none;
    transition: background-color 200ms;

    &:hover {
      background: var(--background-hover);
    }
  }
}
