@import '~@green-blocker/styles/colors';
$primary: $blue-350;
@import '~bootstrap/scss/bootstrap';

html,
body {
  min-height: 100%;
}

body {
  --bs-body-color: #{$blue-50};
  background: linear-gradient(0deg, $lime-950 0%, $lime-800 100%);
}

.logo {
  height: 1rem;
}

.opacity-animation {
  transition: opacity 1s;
}

.refresh-container {
  background: center bottom url('./assets/icon.svg') no-repeat;
  background-size: contain;
}

.no-outline:focus,
.no-outline:active {
  box-shadow: none !important;
}
