$blue-50: #000021;
$blue-100: #00003b;
$blue-150: #000054;
$blue-200: #00006e;
$blue-250: #000087;
$blue-300: #0000a1;
$blue-350: #0000ba;
$blue-400: #0000d4;
$blue-450: #0000ed;
$blue-500: #0808ff;
$blue-550: #2121ff;
$blue-600: #3b3bff;
$blue-650: #5454ff;
$blue-700: #6e6eff;
$blue-750: #8787ff;
$blue-800: #a1a1ff;
$blue-850: #babaff;
$blue-900: #d4d4ff;
$blue-950: #ededff;

$lime-50: #2a3e00;
$lime-100: #3b5800;
$lime-150: #4b7100;
$lime-200: #5c8b00;
$lime-250: #6da400;
$lime-300: #7ebe00;
$lime-350: #8fd700;
$lime-400: #a0f100;
$lime-450: #adff0b;
$lime-500: #b6ff25;
$lime-550: #bfff3e;
$lime-600: #c7ff58;
$lime-650: #d0ff71;
$lime-700: #d8ff8b;
$lime-750: #e1ffa4;
$lime-800: #e9ffbe;
$lime-850: #f2ffd7;
$lime-900: #fafff1;
$lime-950: #ffffff;
